.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.margin-table{
    margin-bottom:15vh;
}
